/* import */
@import url(bootstrap);

/* generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-primary: #0282f9;
  --dc-secondary: #303030;
  --dc-dark: #1c1c1c;
  --dc-white: #ffffff;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
  height: 80px;
}

ul {
  list-style-type: none;
}

/* utils */
.container {
  max-width: 70%;
}

.nav-link {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--dc-dark);
}

.nav-link:hover {
  color: var(--dc-primary);
  text-decoration: underline;
  text-underline-offset: 2.8rem;
  text-decoration-thickness: 5px
}