/* import */
@import url(bootstrap);

/* generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-primary: #0282f9;
  --dc-secondary: #303030;
  --dc-dark: #1c1c1c;
  --dc-white: #ffffff;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
  height: 80px;
}

ul {
  list-style-type: none;
}

span {
  font-size: 11px;
  color: var(--dc-white);
}

button {
  background-color: var(--dc-secondary);
  color: var(--dc-white);
  border: solid 2px var(--dc-primary);
  padding: 0.5rem;
}

button:hover {
  background-color: var(--dc-primary);
}

h5 {
  color: var(--dc-primary);
}

h6 {
  color: var(--dc-white);
}

/* header utils */
.container {
  max-width: 70%;
}

.nav-link {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--dc-dark);
}

.nav-link:hover {
  color: var(--dc-primary);
  text-decoration: underline;
  text-underline-offset: 2.8rem;
  text-decoration-thickness: 5px
}

/* main utils */
.container-comic {
  width: 90%;
  margin: auto;
}

.card {
  background-color: var(--dc-dark);
  height: 200px;
}

.card-body {
  padding: 0;
}

.img-container {
  width: 100%;
  height: 200px;
  overflow-y: hidden;
}

img.card-img-top {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.card-title {
  font-size: 0.7rem;
  padding-top: 0.5rem;
  color: var(--dc-white)
}

.comic {
  padding: 3rem 0
}

.content {
  background-color: var(--dc-dark);
  color: var(--dc-white);
}

.imgs {
  height: 135px;
  background-color: var(--dc-primary);
}

.imgSection {
  width: 40px;
}

.imgLocator {
  width: 30px;
}

.row>* {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jumbo {
  width: 27%;
  gap: 15px;
}

/* footer utils */
.listaFooter {
  color: #939393;
  padding: 0;
  font-size: 10px
}

.footer-bottom {
  height: 100px;
  background-color: var(--dc-secondary);

}

.footer-right>img {
  height: 25px;
  margin-left: 10px;
}

/* footer */
footer {
  background-image: url("../src/assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}